@import "colors";

body {
  p {
    margin-bottom: 0.25rem;
    &:last-child {
      margin: 0;
    }
  }

  button {
    &.btn {
      background: $purple;
      color: $white;
      border: 1px solid transparent;
      transition: $transition;
      &:hover {
        background: $purple;
        color: $white;
        border: 1px solid transparent;
        -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }

  ul {
    padding: 0;
    margin: 1rem 0rem;
    li {
      list-style-type: none;
      padding: 0.5rem 0rem;
      border-bottom: 0.125rem solid $purple;
    }
  }
}
